In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import datetime

from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('airline-price-classification.csv')

In [3]:
lbl_enc = LabelEncoder()
df['TicketCategory'] = lbl_enc.fit_transform(df[["TicketCategory"]])
print(df['TicketCategory'])

0         3
1         3
2         0
3         2
4         2
         ..
240203    0
240204    1
240205    2
240206    2
240207    2
Name: TicketCategory, Length: 240208, dtype: int64

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
df["date"]=pd.to_datetime(df["date"])
df["date"]=df["date"].dt.strftime("%m/%d/%Y")
pd.DatetimeIndex(df["date"]).weekday
df['month'] = pd.DatetimeIndex(df['date']).month
df['day'] = pd.DatetimeIndex(df['date']).day
df['dayofyear'] = pd.DatetimeIndex(df['date']).dayofyear

In [5]:
df['ch_code'] = lbl_enc.fit_transform(df[["ch_code"]])
print(df['ch_code'])

0         7
1         7
2         3
3         3
4         7
         ..
240203    2
240204    2
240205    1
240206    7
240207    6
Name: ch_code, Length: 240208, dtype: int64

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
df["dep_time"]=pd.to_datetime(df["dep_time"])
df['dep_time'] = df['dep_time'].dt.strftime("%-H:%M")
df["dep_hour"]=pd.DatetimeIndex(df["dep_time"]).hour
df["dep_minute"]=pd.DatetimeIndex(df["dep_time"]).minute

In [7]:
df["hours_taken"] = df["time_taken"].str.split('h').str.get(0)
df["minutes_taken"] = df["time_taken"].str[4:6]
df["minutes_taken"] = df["minutes_taken"].str.replace('m', '')
df["minutes_taken"] = df["minutes_taken"].str.replace('h', '')
df["hours_taken"] = pd.to_numeric(df["hours_taken"])
df["minutes_taken"] = pd.to_numeric(df["minutes_taken"], errors='coerce')
df.head()

,date,airline,ch_code,num_code,dep_time,time_taken,stop,arr_time,type,route,TicketCategory,month,day,dayofyear,dep_hour,dep_minute,hours_taken,minutes_taken
0,05/03/2022,Vistara,7,812,9:45,10h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,business,"{'source': 'Bangalore', 'destination': 'Hydera...",3,5,3,123,9,45,10.0,10.0
1,03/18/2022,Vistara,7,975,5:45,06h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:15,business,"{'source': 'Delhi', 'destination': 'Hyderabad'}",3,3,18,77,5,45,6.0,30.0
2,09/03/2022,GO FIRST,3,7537,14:30,08h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,22:40,economy,"{'source': 'Mumbai', 'destination': 'Hyderabad'}",0,9,3,246,14,30,8.0,10.0
3,03/15/2022,GO FIRST,3,287,10:40,09h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:20,economy,"{'source': 'Mumbai', 'destination': 'Delhi'}",2,3,15,74,10,40,9.0,40.0
4,03/22/2022,Vistara,7,826,12:30,07h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,economy,"{'source': 'Chennai', 'destination': 'Kolkata'}",2,3,22,81,12,30,7.0,25.0

In [8]:
df["stop"] = df["stop"].str.split('-').str.get(0)
df["stop"] = df["stop"].replace(['non'], 0)
df.isna().sum() #  28944 null vals
df["stop"] = df["stop"].replace(['2+'], 2) # Indicates for 2 or more stops
df['stop'] = df['stop'].fillna(0)
df['stop'] = pd.to_numeric(df['stop'])
# print(df[9:14])

In [9]:
df["arr_time"]=pd.to_datetime(df["arr_time"])
df['arr_time'] = df['arr_time'].dt.strftime("%-H:%M")
df["arr_hour"]=pd.DatetimeIndex(df["arr_time"]).hour
df["arr_minute"]=pd.DatetimeIndex(df["arr_time"]).minute
df["arr_hour"] = pd.to_numeric(df["arr_hour"])
df["arr_minute"] = pd.to_numeric(df["arr_minute"])
df.head()

,date,airline,ch_code,num_code,dep_time,time_taken,stop,arr_time,type,route,TicketCategory,month,day,dayofyear,dep_hour,dep_minute,hours_taken,minutes_taken,arr_hour,arr_minute
0,05/03/2022,Vistara,7,812,9:45,10h 10m,1,19:55,business,"{'source': 'Bangalore', 'destination': 'Hydera...",3,5,3,123,9,45,10.0,10.0,19,55
1,03/18/2022,Vistara,7,975,5:45,06h 30m,1,12:15,business,"{'source': 'Delhi', 'destination': 'Hyderabad'}",3,3,18,77,5,45,6.0,30.0,12,15
2,09/03/2022,GO FIRST,3,7537,14:30,08h 10m,1,22:40,economy,"{'source': 'Mumbai', 'destination': 'Hyderabad'}",0,9,3,246,14,30,8.0,10.0,22,40
3,03/15/2022,GO FIRST,3,287,10:40,09h 40m,1,20:20,economy,"{'source': 'Mumbai', 'destination': 'Delhi'}",2,3,15,74,10,40,9.0,40.0,20,20
4,03/22/2022,Vistara,7,826,12:30,07h 25m,1,19:55,economy,"{'source': 'Chennai', 'destination': 'Kolkata'}",2,3,22,81,12,30,7.0,25.0,19,55

In [10]:
df['type'] = lbl_enc.fit_transform(df[["type"]])
print(df['type'])

0         0
1         0
2         1
3         1
4         1
         ..
240203    1
240204    0
240205    1
240206    1
240207    1
Name: type, Length: 240208, dtype: int64

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
df['source'] = df['route'].str.split( ', ').str.get(0).str.split(':').str.get(1)
df['destination'] = df['route'].str.split( ', ').str.get(1).str.split(':').str.get(1).str.split('}').str.get(0)
df['source'] = df['source'].str.replace('\'', "")
df['destination'] = df['destination'].str.replace('\'', "")
df['source'] = lbl_enc.fit_transform(df[["source"]])
print(df['source'])
df['destination'] = lbl_enc.fit_transform(df[["destination"]])
print(df['destination'])
df = df.dropna()
df = df.drop(['airline', 'date', 'dep_time', "time_taken", 'arr_time', 'route',], axis=1)
#df = pd.get_dummies(df)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0         0
1         2
2         5
3         5
4         1
         ..
240203    1
240204    2
240205    2
240206    2
240207    4
Name: source, Length: 240208, dtype: int64
0         3
1         3
2         3
3         2
4         4
         ..
240203    3
240204    4
240205    0
240206    5
240207    3
Name: destination, Length: 240208, dtype: int64

In [12]:
X = df.loc[:, df.columns != 'TicketCategory']
Y = df['TicketCategory']
XTrain, XTest, YTrain, YTest = train_test_split(X, Y, test_size=0.2, shuffle=True, random_state=8)

In [13]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
scaler = ss.fit(XTrain)
trainX_scaled = scaler.transform(XTrain)
testX_scaled = scaler.transform(XTest)

In [14]:
from keras.layers import Dense
from keras.models import Sequential
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.utils import to_categorical

In [22]:
y_train = to_categorical(YTrain)
y_test = to_categorical(YTest)

In [23]:
# define model
model = Sequential()
model.add(Dense(256, input_dim=XTrain.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(4, activation='softmax'))

In [24]:
# compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [27]:
history = model.fit(XTrain, y_train, validation_data=(XTest, y_test), epochs=100, verbose=1)

Epoch 1/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.5541 - accuracy: 0.7123 - val_loss: 0.5432 - val_accuracy: 0.7161
Epoch 2/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.5426 - accuracy: 0.7200 - val_loss: 0.5419 - val_accuracy: 0.7251
Epoch 3/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.5334 - accuracy: 0.7269 - val_loss: 0.5350 - val_accuracy: 0.7190
Epoch 4/100
6006/6006 [==============================] - 15s 2ms/step - loss: 0.5274 - accuracy: 0.7321 - val_loss: 0.5315 - val_accuracy: 0.7194
Epoch 5/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.5185 - accuracy: 0.7399 - val_loss: 0.5176 - val_accuracy: 0.7404
Epoch 6/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.5050 - accuracy: 0.7510 - val_loss: 0.5084 - val_accuracy: 0.7421
Epoch 7/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4977 - accuracy: 0.7560 - val_loss: 0.5088 - val_accuracy: 0.7434
Epoch 8/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4921 - accuracy: 0.7591 - val_loss: 0.4875 - val_accuracy: 0.7612
Epoch 9/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4886 - accuracy: 0.7613 - val_loss: 0.4854 - val_accuracy: 0.7612
Epoch 10/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4820 - accuracy: 0.7654 - val_loss: 0.4932 - val_accuracy: 0.7543
Epoch 11/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4768 - accuracy: 0.7692 - val_loss: 0.4839 - val_accuracy: 0.7643
Epoch 12/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4718 - accuracy: 0.7711 - val_loss: 0.4803 - val_accuracy: 0.7677
Epoch 13/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4677 - accuracy: 0.7743 - val_loss: 0.4764 - val_accuracy: 0.7705
Epoch 14/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4644 - accuracy: 0.7767 - val_loss: 0.4576 - val_accuracy: 0.7840
Epoch 15/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4599 - accuracy: 0.7793 - val_loss: 0.4710 - val_accuracy: 0.7752
Epoch 16/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4550 - accuracy: 0.7825 - val_loss: 0.4762 - val_accuracy: 0.7742
Epoch 17/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4533 - accuracy: 0.7839 - val_loss: 0.4548 - val_accuracy: 0.7853
Epoch 18/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4488 - accuracy: 0.7862 - val_loss: 0.4437 - val_accuracy: 0.7891
Epoch 19/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4445 - accuracy: 0.7890 - val_loss: 0.4302 - val_accuracy: 0.7967
Epoch 20/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4442 - accuracy: 0.7902 - val_loss: 0.4560 - val_accuracy: 0.7881
Epoch 21/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4495 - accuracy: 0.7886 - val_loss: 0.4801 - val_accuracy: 0.7685
Epoch 22/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4385 - accuracy: 0.7949 - val_loss: 0.4275 - val_accuracy: 0.8019
Epoch 23/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4314 - accuracy: 0.8001 - val_loss: 0.4308 - val_accuracy: 0.8031
Epoch 24/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4307 - accuracy: 0.8003 - val_loss: 0.4227 - val_accuracy: 0.8085
Epoch 25/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4258 - accuracy: 0.8036 - val_loss: 0.4197 - val_accuracy: 0.8106
Epoch 26/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4234 - accuracy: 0.8051 - val_loss: 0.4229 - val_accuracy: 0.8102
Epoch 27/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4193 - accuracy: 0.8074 - val_loss: 0.4222 - val_accuracy: 0.8063
Epoch 28/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4177 - accuracy: 0.8088 - val_loss: 0.4280 - val_accuracy: 0.8040
Epoch 29/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4154 - accuracy: 0.8092 - val_loss: 0.4125 - val_accuracy: 0.8142
Epoch 30/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4165 - accuracy: 0.8088 - val_loss: 0.4098 - val_accuracy: 0.8160
Epoch 31/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4132 - accuracy: 0.8106 - val_loss: 0.4353 - val_accuracy: 0.8022
Epoch 32/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4106 - accuracy: 0.8122 - val_loss: 0.4114 - val_accuracy: 0.8095
Epoch 33/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4106 - accuracy: 0.8130 - val_loss: 0.4309 - val_accuracy: 0.8044
Epoch 34/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4082 - accuracy: 0.8136 - val_loss: 0.3944 - val_accuracy: 0.8271
Epoch 35/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4184 - accuracy: 0.8087 - val_loss: 0.4153 - val_accuracy: 0.8141
Epoch 36/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4169 - accuracy: 0.8098 - val_loss: 0.4207 - val_accuracy: 0.8161
Epoch 37/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4046 - accuracy: 0.8158 - val_loss: 0.3996 - val_accuracy: 0.8200
Epoch 38/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4002 - accuracy: 0.8185 - val_loss: 0.4087 - val_accuracy: 0.8191
Epoch 39/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3993 - accuracy: 0.8197 - val_loss: 0.4036 - val_accuracy: 0.8193
Epoch 40/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3971 - accuracy: 0.8208 - val_loss: 0.3929 - val_accuracy: 0.8220
Epoch 41/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3986 - accuracy: 0.8201 - val_loss: 0.3947 - val_accuracy: 0.8235
Epoch 42/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3940 - accuracy: 0.8226 - val_loss: 0.4068 - val_accuracy: 0.8186
Epoch 43/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3926 - accuracy: 0.8231 - val_loss: 0.4040 - val_accuracy: 0.8199
Epoch 44/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4001 - accuracy: 0.8190 - val_loss: 0.4048 - val_accuracy: 0.8234
Epoch 45/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4041 - accuracy: 0.8176 - val_loss: 0.4106 - val_accuracy: 0.8144
Epoch 46/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4030 - accuracy: 0.8186 - val_loss: 0.3938 - val_accuracy: 0.8247
Epoch 47/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.4011 - accuracy: 0.8195 - val_loss: 0.4215 - val_accuracy: 0.8134
Epoch 48/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3996 - accuracy: 0.8208 - val_loss: 0.4320 - val_accuracy: 0.8055
Epoch 49/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3996 - accuracy: 0.8201 - val_loss: 0.4049 - val_accuracy: 0.8237
Epoch 50/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3964 - accuracy: 0.8225 - val_loss: 0.3959 - val_accuracy: 0.8282
Epoch 51/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3985 - accuracy: 0.8202 - val_loss: 0.4017 - val_accuracy: 0.8245
Epoch 52/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3974 - accuracy: 0.8215 - val_loss: 0.3901 - val_accuracy: 0.8246
Epoch 53/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3976 - accuracy: 0.8211 - val_loss: 0.3838 - val_accuracy: 0.8289
Epoch 54/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.4008 - accuracy: 0.8196 - val_loss: 0.4088 - val_accuracy: 0.8183
Epoch 55/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3938 - accuracy: 0.8224 - val_loss: 0.3876 - val_accuracy: 0.8279
Epoch 56/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3926 - accuracy: 0.8243 - val_loss: 0.4288 - val_accuracy: 0.7961
Epoch 57/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3947 - accuracy: 0.8223 - val_loss: 0.3824 - val_accuracy: 0.8340
Epoch 58/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3916 - accuracy: 0.8243 - val_loss: 0.4108 - val_accuracy: 0.8129
Epoch 59/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3898 - accuracy: 0.8251 - val_loss: 0.4093 - val_accuracy: 0.8202
Epoch 60/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3908 - accuracy: 0.8253 - val_loss: 0.3942 - val_accuracy: 0.8278
Epoch 61/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3888 - accuracy: 0.8258 - val_loss: 0.3962 - val_accuracy: 0.8250
Epoch 62/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3878 - accuracy: 0.8254 - val_loss: 0.4039 - val_accuracy: 0.8180
Epoch 63/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3875 - accuracy: 0.8257 - val_loss: 0.3868 - val_accuracy: 0.8289
Epoch 64/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3920 - accuracy: 0.8244 - val_loss: 0.3922 - val_accuracy: 0.8240
Epoch 65/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3875 - accuracy: 0.8263 - val_loss: 0.3968 - val_accuracy: 0.8237
Epoch 66/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3878 - accuracy: 0.8261 - val_loss: 0.4007 - val_accuracy: 0.8266
Epoch 67/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3866 - accuracy: 0.8269 - val_loss: 0.4172 - val_accuracy: 0.8109
Epoch 68/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3864 - accuracy: 0.8280 - val_loss: 0.4024 - val_accuracy: 0.8213
Epoch 69/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3860 - accuracy: 0.8270 - val_loss: 0.3935 - val_accuracy: 0.8231
Epoch 70/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3861 - accuracy: 0.8267 - val_loss: 0.3783 - val_accuracy: 0.8341
Epoch 71/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3839 - accuracy: 0.8278 - val_loss: 0.3875 - val_accuracy: 0.8268
Epoch 72/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3838 - accuracy: 0.8279 - val_loss: 0.3881 - val_accuracy: 0.8310
Epoch 73/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3853 - accuracy: 0.8275 - val_loss: 0.3912 - val_accuracy: 0.8230
Epoch 74/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3810 - accuracy: 0.8291 - val_loss: 0.3742 - val_accuracy: 0.8342
Epoch 75/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3827 - accuracy: 0.8283 - val_loss: 0.3913 - val_accuracy: 0.8281
Epoch 76/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3809 - accuracy: 0.8290 - val_loss: 0.3858 - val_accuracy: 0.8278
Epoch 77/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3821 - accuracy: 0.8286 - val_loss: 0.3812 - val_accuracy: 0.8294
Epoch 78/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3809 - accuracy: 0.8288 - val_loss: 0.3897 - val_accuracy: 0.8295
Epoch 79/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3796 - accuracy: 0.8300 - val_loss: 0.4020 - val_accuracy: 0.8249
Epoch 80/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3813 - accuracy: 0.8293 - val_loss: 0.4215 - val_accuracy: 0.8167
Epoch 81/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3813 - accuracy: 0.8296 - val_loss: 0.3741 - val_accuracy: 0.8337
Epoch 82/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3789 - accuracy: 0.8301 - val_loss: 0.4006 - val_accuracy: 0.8200
Epoch 83/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3773 - accuracy: 0.8314 - val_loss: 0.3821 - val_accuracy: 0.8346
Epoch 84/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3790 - accuracy: 0.8305 - val_loss: 0.3748 - val_accuracy: 0.8365
Epoch 85/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3831 - accuracy: 0.8296 - val_loss: 0.3809 - val_accuracy: 0.8291
Epoch 86/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3795 - accuracy: 0.8298 - val_loss: 0.3832 - val_accuracy: 0.8302
Epoch 87/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3756 - accuracy: 0.8319 - val_loss: 0.3801 - val_accuracy: 0.8296
Epoch 88/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3768 - accuracy: 0.8320 - val_loss: 0.3980 - val_accuracy: 0.8269
Epoch 89/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3756 - accuracy: 0.8330 - val_loss: 0.3889 - val_accuracy: 0.8301
Epoch 90/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3780 - accuracy: 0.8306 - val_loss: 0.3761 - val_accuracy: 0.8387
Epoch 91/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3731 - accuracy: 0.8330 - val_loss: 0.3835 - val_accuracy: 0.8283
Epoch 92/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3766 - accuracy: 0.8319 - val_loss: 0.3665 - val_accuracy: 0.8376
Epoch 93/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3757 - accuracy: 0.8333 - val_loss: 0.3820 - val_accuracy: 0.8319
Epoch 94/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3723 - accuracy: 0.8335 - val_loss: 0.3691 - val_accuracy: 0.8380
Epoch 95/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3720 - accuracy: 0.8339 - val_loss: 0.3835 - val_accuracy: 0.8355
Epoch 96/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3726 - accuracy: 0.8340 - val_loss: 0.4132 - val_accuracy: 0.8174
Epoch 97/100
6006/6006 [==============================] - 13s 2ms/step - loss: 0.3718 - accuracy: 0.8345 - val_loss: 0.3762 - val_accuracy: 0.8355
Epoch 98/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3720 - accuracy: 0.8344 - val_loss: 0.3679 - val_accuracy: 0.8383
Epoch 99/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3704 - accuracy: 0.8358 - val_loss: 0.3855 - val_accuracy: 0.8303
Epoch 100/100
6006/6006 [==============================] - 12s 2ms/step - loss: 0.3756 - accuracy: 0.8334 - val_loss: 0.3600 - val_accuracy: 0.8445

In [28]:
train_acc = model.evaluate(XTrain, y_train, verbose=1)
test_acc = model.evaluate(XTest, y_test, verbose=1)

6006/6006 [==============================] - 7s 1ms/step - loss: 0.3501 - accuracy: 0.8466
1502/1502 [==============================] - 2s 1ms/step - loss: 0.3600 - accuracy: 0.8445

In [29]:
model.summary()
print(train_acc)
print(test_acc)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 256)               4096

 dense_7 (Dense)             (None, 64)                16448

 dense_8 (Dense)             (None, 4)                 260

=================================================================
Total params: 20,804
Trainable params: 20,804
Non-trainable params: 0
_________________________________________________________________
[0.3501461446285248, 0.8465997576713562]
[0.3599664568901062, 0.8445318937301636]